*{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;

}
body{
    width: 100vw;
    height: 100vh;
}
.section{
    width: 100%;
    height: 100%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(226, 43%, 10%);
}
.container{
    border: 1px solid red;
    height: 65%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "box1 box2 box3 box4""box1 box5 box6 box7";
    gap: 5px;
}
.box1{
    grid-area: box1;
    border: 1px solid black;
    background-color:hsl(235, 45%, 61%) ;
}
.box1 .upper{
    height: 70%;
    width: 100%;
    border-start-end-radius: 1px solid green;
    border-radius: 10px;
    background-color:hsl(246, 80%, 60%);
    
}
.upper img{
    padding: 5px;
    width: 30%;
    height: 20%;
    border: 1px solid white;
    border-radius: 50%;
}

.box2{
    grid-area: box2;
    border: 1px solid black;
    
}
.box3{
    grid-area: box3;
    border: 1px solid black;
    
}
.box4{
    grid-area: box4;
    border: 1px solid black;
    
}
.box5{
    grid-area: box5;
    border: 1px solid black;
    
}
.box6{
    grid-area: box6;
    border: 1px solid black;
    
}
.box7{
    grid-area: box7;
    border: 1px solid black;
    
}